* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.5;
}

.card-wrapper {
    max-width: 1100px;
    margin-top: 0 auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2 rem 1 rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
   
.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #4F625D;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5 ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #4F625D;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-right: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(images/checkmark.svg) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input{
    width: 60px;
}

.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type{
    background: #4F625D;
}

.purchase-info .btn:last-of-type{
    background:  #000;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.social-links{
    display: flex;
    align-items: center;
}

.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 920px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}



html {
    font-size: 62.5%;
    
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-right: 30%;
    font-size: 16px;
    
}

.menu li{
    margin-left: 120px;
}

.menu li a{
    color: black; 
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(84, 0, 0); 
}

nav {
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* .navItem{
    top: 0;
    position: fixed;
    width: 100%;
    background-size: cover;
}

.section {
    padding-top: 160px;
    padding-bottom: 160px;
} */

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.search {
    display: flex;
    align-items: center;
}

.searchInput {
    height: 40px;
    width: 400px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
    padding-left: 10px;
}

.searchInput::placeholder {
    color: lightgray;
    font-size: 12px;
}

.navItem {
    cursor: pointer;
}

#navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 233, 233);
    padding: 20px;
    flex-wrap: wrap;
}

.menuItem {
    margin-left: 50px;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    color: gray;
}